.console {
  position: absolute;
  bottom: 0;
  width: 100%;
  .titleBar {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    height: 28px;
    background: hsl(220 18% 10%);
    border-bottom: #4d4d4d;
    cursor: ns-resize;
    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      color: #ccc;
      font-size: 12px;
      border-bottom: 1px solid #3677f6;
    }
    .icon {
      padding-right: 10px;
      cursor: pointer;
    }
  }
  .content {
    width: 100%;
    overflow: auto;
    background: hsl(220 18% 10%);
    .item {
      padding: 4px 10px 3px 24px;
      color: #ccc;
      font-size: 11px;
      border-bottom: 1px solid #ffffff2e;
    }
  }
}
